

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    height: 70vh;
    background-color: rgb(223, 218, 218);
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;

    h2 {color: rgb(23, 23, 46);}
    .count {color: green;}

    .buttons{
        .button {
            padding: 10px 20px;
            border-radius: 5px;
        }
    }
}

@media  only screen and (max-width:680px) {
    .container {
        font-size: 1rem;
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 80%;
        }
    }
   
}

